.buttons {
    display: inline-block;
}

.pickers {
    display: inline-block;
}

.startingCalendar {
    display: inline;
    position: relative;
    margin-left: 14px;
    height: 30px;
    width: 170px;
    text-align: center;
}

.endingCalendar {
    display: flex;
    position: relative;
    margin-left: 14px;
    height: 30px;
    width: 170px;
    text-align: center;
}

.dateTags {
    margin-left: 14px;
}

.datepicker {
    display: inline-block;
}

.pickers {
    display: inline-block;
}
